<section ng-class="{'active' : toggleMenu}">

    <header define-area type-area="paddingTopHeader">
        <i back-button ng-if="toggleBackButton" class="header-icon-arrow icon-chevron-left"></i>
        <div ng-bind="pageTitle" class="titleWidth header-title"></div>
    </header>

    <i ng-click="handleMenuStatus()" class="header-icon-menu icon-navicon"></i>
    <article>
        <ui-view></ui-view>
        <spinner ng-if="toggleSpinner"></spinner>
        <overlay ng-if="toggleMenu || toggleSpinner || toggleModal"></overlay>
    </article>

</section>
<aside ng-class="{'active' : toggleMenu}">
    <nav>
        <div ng-repeat="menu in menuData track by menu.id"
             ng-click="handleNavigation($event, menu.state)"
             ng-bind="menu.label"
             class="header-menu-toolbar-button">
        </div>
    </nav>
</aside>