<tabs class="swiper-container">
    <!-- TAB NAVIGATION -->
    <ul id="tabs-navigation" class="tabs-number-3">
        <li><i ng-click="changeTab(0)" class="icon-basketball active-tab"></i></li>
        <li><i ng-click="changeTab(1)" class="icon-check-mark-3" style="padding-top:10px;font-size:22px;"></i></li>
        <li><i ng-click="changeTab(2)" class="icon-talk-chat" style="padding-top:12px;font-size:20px;"></i></li>
    </ul>
    <!-- TAB CONTENT -->
    <div class="swiper-wrapper">
        <!-- TAB1 -->
        <div class="swiper-slide">
            <h1>Figa1</h1>
        </div>
        <!-- TAB2 -->
        <div class="swiper-slide">
            <h1>Figa2</h1>
        </div>
        <!-- TAB3 -->
        <div class="swiper-slide">
            <h1>Figa3</h1>
        </div>
    </div>
</tabs>