.header-menu-toolbar {
  position: absolute;
  z-index: 220;
  right: 10px;
  width: 200px;
  background: #f0f0f0;
}

.header-menu-toolbar-button {
  clear: left;
  float: left;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

.header-menu-profile {
  clear: left;
  float: left;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
  background: #280a50;
}

.header-menu-profile-image {
  position: relative;
  left: 50%;
  clear: left;
  float: left;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: -50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.header-menu-profile-fullname, .header-menu-profile-nickname {
  clear: left;
  float: left;
  width: 100%;
  margin-top: 10px;
  padding: 0 10px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  word-wrap: break-word;
}

.overlay {
  position: absolute;
  z-index: 110 !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}